body{
  text-align:center;
  padding: 30px;
  background-color: #41B3A3;
  font-family: Verdana, sans-serif;
  color: #fff;
}
button{
  background-color: grey;
  font-family: Arial, sans-serif;
  border:none;
  padding:10px;
  color:#fff;
  margin: 5px;
}
#submit, #cancel{
  background-color: #0f5f74;
}

#yourPost {
  width: 50%;
  height: 300px;
}
